<h1>Sign up</h1>

<%= form_for(@muser) do |f| %>

  <%= render 'shared/error_messages'%>

  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation, "Confirmation" %></td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr>
    	<td><%= label_tag :category_subscriptions, "Select categories to subscribe to"%></td>
    	<td><select multiple name="category_subscriptions[]">
		    <% Category.all.each do |category| %>
		        <option value="<%= category.id %>"><%= category.name %></option>
		    <% end %>
		</select></td>
    </tr>
    <tr>
    	<td><i>Hold down the control (ctrl) button to select multiple</i></td>
    </tr>
  </table>

  <p>
    <%= f.submit "Create my account", :class => "btn btn-default" %>
  </p>

<% end %>

<p>
  Already signed up? <%= link_to "Log in!", login_path %>
</p>
