<% provide(:title, 'Profile') %>
<br>
<div class = "jumbotron" style="padding:10px; padding-left: 60px; padding-right: 60px">
<h1><%= @muser.name %></h1>

<% if logged_in? %>
	<% if @muser.id == current_muser.id then %>
			<% if @muser.isModerator then %>
				<div class="field">You are a moderator</div>
			<% else %>
				<div class="field">You are not a moderator</div>
			<% end %>
			<div class="field">Your email address: <%= @muser.email %></div>
			
			<div class="field">
				<%= link_to "Edit Profile", edit_muser_path(:id => current_muser.id) %>
			</div>
	
			<div class="field">
				<%= render 'shared/stats' %>
			</div>
			<div class="field">
				<%= render 'follow_form'  %>
			</div>
			<div class="field">
	    		<%= link_to "Subscribed Musers", subscribed_musers_muser_path %>
	    	</div>
	    	<div class="field">
				<%= link_to "View Musers to Subscribe", musers_path %>
			</div>

			<div class="field">
				<%= link_to "View subscribed categries", subscribe_categories_path %>
			</div>

		</div>

		<!-- Display the user's musings if we're on their own page -->
			<div class = "jumbotron" style="padding:10px; padding-left: 60px; padding-right: 60px">
				<div class="row">
					<div class="col-xs-9">
					<% if @muser.musings.any? %>
					<h3>My Musings: ( <%= @muser.musings.count %> )</h3>
					<ol class="microposts">
						<%= render @musings %>
		 			</ol>
		 			<% else %>
		 				<h3>My Musings: ( No Musings: )</h3>
		 			<% end %>
		 			</div>
		 			<div class="col-xs-3">
		 				<h2> <%= link_to "Create New Musing", new_musing_path, :class=> "btn btn-default"  %> </h2>
		 			</div>
		 			<div class="col-xs-9"></div>
		 		</div>
		 	</div>
	<% else %>
		<p><%= link_to "Send Message", messages_path(:receiver_id => @muser.id) %></p>
	<% end %>
<% end %>