
<h1><%= @muser.email %></h1>
<p>isModerator:<%= @muser.isModerator %>|</p>
<p>id:<%= @muser.id %>|</p>
<p>email:<%= @muser.email %>|</p>

<p>
  <%= link_to "Log out", logout_path, method: "delete" %>
</p>
  