<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="muser_info">

      <h1><%= @muser.name %></h1>
      <span><%= link_to "view my profile", @muser %></span>
      <span><b>Musings:</b> <%= @muser.musings.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @musers.any? %>
      <ul class="musers follow">
        <% if @musers.any? %>
          <div class="muser_avatars">
            <% @musers.each do |muser| %>
            <%= link_to muser.name, "/musers/#{muser.id}/" %><br />
            <% end %>
          </div>
        <% end %>
      </ul>
      <%= will_paginate %>
    <% else %>
          Currently there are no <%= @title %>
    <% end %>
  </div>
</div>