<% provide(:title, 'Messaging') %>

<h1>Conversation with <%= @receiver_muser.email %></h1>


<table class="table table-striped" border="0" width="100%">
	<tbody>
	<!--<tr>
		<td>From</td>
		<td>Content</td>
	</tr> -->
  <!-- #Pull messages from database -->
  <% @messages.each do |message| %>
    <tr>
      <td><%= message.author.email %>:</td>
      <td style="text-align:right"><%= message.content %></td>
      <!--<td><%= message.recipient.email %></td> -->
    </tr>
  <% end %>
  </tbody>
</table>

<p>New Message from <%= @current_muser.email %>:</p>
<p>Message to <%= @receiver_muser.email %></p>

<%= form_for(@message,:action => 'postMessage') do |f| %>
<%= f.hidden_field :post_id, :value => @receiver_id %>
<table>
	<tr>
		<td style="text-align:center"><%= f.label :content, "Content" %></td>
	</tr>
	<tr>
		<td style="text-align:center"><%= f.text_field :content %></td>
	</tr>
	<tr>
		<td></td>
		<td style="text-align:center"><%= f.submit :value => "Submit" %>&nbsp;<%= f.button "Cancel" %></td>
		<td></td>
	</tr>
</table>
<% end %>
