<% provide(:title, 'Messaging') %>

<h1>Conversation with <%= @receiver_muser.name %></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Messages</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="message-form" style="display:none;"></div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2" id="messages">
  	<%= render @messages %>
  </div>
</div>

</br>

<table class="table table-striped" border="0">
	<%= form_for @message, remote: true do |f| %>
	<%= f.hidden_field :post_id, :value => @receiver_id %>
	<%= f.hidden_field :channel_name, :value => @channel_name %>
		<tr>
			<td><%= f.text_area :content %></td>
		</tr>
		<tr>
			<td><%= f.submit :value => "Submit" %>&nbsp;<%= f.button "Cancel" %></td>
		</tr>
	<% end %>
</table>


<script>
	$("#messages").scrollTop($("#messages")[0].scrollHeight);
	channel = dispatcher.subscribe('<%= @channel_name %>');
	channel.bind('new', function(message) {
	  //console.log(message);
	  var font = "";
	  if ("<%= current_muser.name %>" == message.authorname){
	  	font = "<font color='mediumblue'>";
	  }else{
	  	font = "<font color='firebrick'>";
	  }
	  $('#messages').append("<li class='list-group-item'>" + font + message.authorname + 
	  	":<span class='messageContent'>" + font + message.content + "</font></span></li>");
	  //$('#message-form').slideUp(350);
	  $("#messages").scrollTop($("#messages")[0].scrollHeight);
	});
	
	$("#new_message").bind("ajax:beforeSend", function(event,xhr,status){
  		$('#message_content').val('');
	});
</script>