<% provide(:title, 'Flagged-Musings') %>
      <div class="row">
        <div class = "jumbotron">        
        <ol class="microposts">
        <h1>Flagged Musings </h1>
         <% @musings.each do |musing| %>          
          <li id="micropost-<%= musing.id %>">
          <span class="title"><%= musing.title %></span>
          <span class="content">"<%= musing.content %>"</br>
          <% sum = 0 %>
          <% musing.flags.each do |m| %>
          <% sum = sum + 1 %>
          <% end %>
          Number of Flags: <%= (sum == 0) ? 0: sum %> <%= link_to " | Show Details", flagged_musing_path(musing) %>  <%= link_to " | Delete ", musing, method: :delete, data: { confirm: 'Are you sure you want to delete?'} %>
          </span>
          </li>
        <% end %>
      </ol>
      </div>
      </div>
    </div>
