<% provide(:title, 'New Competition') %>
<h1>Competition#new</h1>

<%= form_for(@competition) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  
  <div class="field">
    <%= f.label :end %><br>
    <%= f.date_select :end %>
  </div>
  <div class="actions">
    <%= f.submit %>&nbsp;<%= button_tag "Cancel", type: :reset %>
  </div>
<% end %>