<% provide(:title, 'Competition-Show') %>
<h1><%= @competition.name %></h1>

<p>Start: <%= @competition.start %><p>
<p>End: <%= @competition.end %></p>

<% @isFinished = @competition.end < Time.now.to_datetime%>

<% if @isFinished then %>
	<p>Competition is over</p>
<% else %>
	<p>Competition is still in progress</p>
<% end %>

<div class="row">
	<div class = "jumbotron">        
		<ol class="microposts">
			<h2><font size="26">Submissions</font></h2>
			<% @highest_id %>
			<% @highest_average = 0.0 %>
			<% if @competition.musings.count < 1 then %>
				<li id="micropost-1">
					<span class="content">
					<% if @isFinished then %>
						<h2>No submissions</h2>
					<% else %>
						<h2>No submissions yet</h2>
					<% end %>
					</span>
				</li>
			<% end %>
			<% @competition.musings.each do |musing| %>
				<li id="micropost-<%= musing.id %>">
				  <span class="title"><%= musing.title %></span>
				  <span class="content"><%= musing.content %></br>
				  	Competition Average:
					<%= @average = calculateRating(musing,@competition.id) %>
				    
				    <% if @average > @highest_average then %>
				    <%   @highest_average = @average %>
				    <%   @highest_id = musing.id %>
				    <% end %>
				  </span> 
				  <span class="content">
				  	Author: <%= link_to musing.muser.name, muser_url(musing.muser) %>
				  </span>
				  <span class="content">
					<% if logged_in? %>
						<% if not @isFinished then %>
							<%= link_to "Rate Musing", new_competitionrating_path(:musing_id => musing.id, :currentcompetition => @competition.id), :class=> "btn btn-default" %>
						<% end %>
					<% end %>
				  </span>
				</li>
			<% end %>
			<% if @isFinished then %>
				<% if @highest_id then %>
				<% @winner = Musing.find(@highest_id)%>
					<li id="micropost-<%= @winner.id %>">
					  <span class="title">Winning Submission</span>
					  <span class="title"><%= @winner.title %></span>
					  <span class="content"><%= @winner.content %></br>
					  	Competition Average:
						<% sum = 0.0 %>
					    <% i = 1.0 %>
					    <% @winner.competitionstars.each do |s| %>
					    <% (s.competitionstars != nil) ? (star = s.competitionstars) : (star = 0.0) %>
					      <% sum = sum + star %>
					      <% i = i + 1 %>
					    <% end %>
					    <% @average = (sum == 0.0) ? 0 : (sum/(i-1)).round(1)%>
					    <%= @average %>
					  </span> 
					  <span class="content">
					  	Author: <%= link_to @winner.muser.name, muser_url(@winner.muser) %>
					  </span>
					</li>
				<% else %>
					<li id="micropost-0">
						<span class="title">Winning Submission</span>
						<span class="content">No Winner</span>
					</li>
				<% end %>
			<% end %>
		</ol>
	</div>
</div>


<%= link_to "Show All Musings", musings_path() %>
