<% provide(:title, 'Musings-Rate-Competition') %>
<h1>CompetitionRating#new</h1>

<%= form_for(@competitionrating, :action => 'create', :url => new_competitionrating_path) do |f| %>
  <div class="field">
    <%= label_tag :Title %><br>
    <%= @competitionrating.musing.title %>
    <%= f.hidden_field :musing_id, :value => @competitionrating.musing.id %>
	<%= f.hidden_field :competition_id, :value => @currentcompetition %>
  </div>

  <div class="field">
    <%= label_tag :Content %><br>
    <%= @competitionrating.musing.content %>
  </div>
  
  <div class="field">
    <%= label_tag :competitionstars, "Stars" %><br>
    <%= f.select(:competitionstars, options_for_select([['1 Star',1],['2 Star',2],['3 Star', 3],['4 Star',4],['5 Star',5]])) %>
  </div>
  
  <div class="actions">
    <%= f.submit "Rate", :class=> "btn btn-default" %>&nbsp;<%= submit_tag "Cancel", :class=> "btn btn-default" %>
  </div>
<% end %>
