<p id="notice"><%= notice %></p>

<p>
  <strong>Response:</strong>
  <%= @feedback.response %>
</p>

<p>
  <strong>Musing:</strong>
  <%= @feedback.musing_id %>
</p>

<p>
  <strong>Muser:</strong>
  <%= @feedback.muser_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @feedback.time %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
