<% provide(:title, 'Categories') %>

<div class = "jumbotron">
  <h1> List of Categories: </h1>
  <div class="table-responsive hover">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>SN</th>
        <th>Category</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @i = 1 %>
      <% @categories.each do |cat| %>
        <tr>
          <td><%= @i %></td>
          <td><%= link_to cat.name, category_path(cat) %></td>
          <td><%= cat.desc %></td>
          <td><%= link_to " Edit ", edit_category_path(cat), :class=> "btn btn-default" %> | <%= link_to " Delete ", cat, method: :delete, data: { confirm: 'Are you sure you want to delete?'} , :class=> "btn btn-default" %></td>
        </tr>
        <% @i = @i + 1 %>
      <% end %>
    </tbody>
  </table>
  </div>   
  <%= link_to " Create New Category ", new_category_path, :class=> "btn btn-default" %>

</div>

