<% provide(:title, 'Categories-Show') %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @category.desc %>
</p>
<% if @musings.any? %>
	<h3> Musings under this category </h3>
	<hr>
	<% @musings.each do |musing| %>
	<li> <%= musing.title %> </br> <%= musing.content %></li>
	<hr>
	<% end %>
<% else %>
	<h3> No Musings under this category </h3>
<% end %>



<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Show All Categories', categories_path %>
