

<%= form_for(@musing) do |f| %>
	
	<table>
		<ul>
			<tr>
		    	<td><li><%= f.label :title %>:</li></td>
		    	<td><%= f.text_field :title %></td>
		    </tr>

			<tr>
		    	<td><li><%= f.label :content %>:</li></td>
		    	<td><%= f.text_area :content %></td>
		    </tr>

			<tr>
		    	<td><li><%= f.label :isPrivate %>:</li></td>
		    	<td><%= f.check_box :isPrivate %></td>
		    </tr>
				<tr>
		    	<td><%= f.submit  "Create" %></td>
		    	<td><%= submit_tag "Cancel"  %></td>
		    </tr>
		</ul>
	</table>
<% end %>