    <div class="col-xs-3">      
        <div class = "jumbotron">
          <div class="row">
            <h3>Links</h3>
            <h3><%= link_to " Popular Musings ", popular_musings_path, :class=> "btn btn-default" %></h3>
            <h3><%= link_to " Top Musings ", top_musings_path, :class=> "btn btn-default" %></h3>
            <h3><%= link_to " Current Competition ", competition_show_path(:id => 1), :class => "btn btn-default"%></h3>
            <h3><%= link_to " Last Competition ", competition_show_path(:id => 3), :class => "btn btn-default"%></h3>
          </div>
          <div class="row">
            <h3>Categories:</h3>
            <h3><%= link_to " Journal Entry ",category_path(:id => 1), :class=> "btn btn-default" %></h3>
            <h3><%= link_to " Song Lyrics ", category_path(:id => 2), :class=> "btn btn-default" %></h3>
            <h3><%= link_to " Stories ", category_path(:id => 3), :class=> "btn btn-default" %></h3>
            <h3><%= link_to " Jokes ", category_path(:id => 4), :class=> "btn btn-default" %></h3>
            <h3><%= link_to " Rants ", category_path(:id => 5), :class=> "btn btn-default" %></h3>
            <h3><%= link_to " NonSense ", category_path(:id => 6), :class=> "btn btn-default" %></h3>
            <h3><%= link_to " Ramblings ", category_path(:id => 7), :class=> "btn btn-default" %></h3>
            <h3><%= link_to " Thoughts ", category_path(:id => 8), :class=> "btn btn-default" %></h3>
            <h3><%= link_to " Tweets ", category_path(:id => 9), :class=> "btn btn-default" %></h3>
        </div>
      </div>
    </div>
  </div>
