<% provide(:title, 'Musings-Index') %>
<h1>Musing#index</h1>
<p>Find msse in app/views/musing/index.html.erb</p>

<table border="2px solid black" >
 <tr><th colspan="5">All Musings </th></tr>
  <tr>
    <th>Title</th>	
    <th>content</th>
    <th>is Private</th>
    <th>Average Rating</th>
    <th>Muser ID</th>
    <th>Current Muser</th>
    <th>Actions</th>
  </tr>
  <% @musings.each do |musing| %>
	<tr>
		<td><%=   musing.title %> </td>
		<td><%= musing.content %></td>
    <td><%= musing.isPrivate %></td>
    <td>
        <% sum = 0.0 %>
        <% i = 1.0 %>
        <% musing.stars.each do |s| %>
        <% (s.stars != nil) ? (star = s.stars) : (star = 0.0) %>
          <% sum = sum + star %>
          <% i = i + 1 %>
        <% end %>
        <%= (sum == 0.0) ? 0 : (sum/(i-1)).round(1) %>  
         
       
    </td>
    <td><%= musing.muser_id %></td>
    <td><%= (current_muser == nil) ?  "No User logged_in" : current_muser.id %></td>
    <% if logged_in? %>
    	 <td>[<%= link_to " Rate ", new_rating_path(musing)%>|<%= link_to " Show ", musing_path(musing)%>|
        <% if current_muser?(musing.muser) %>
        <%= link_to " Edit ", edit_musing_path(musing)%>|<%= link_to " Delete ", musing, method: :delete, data: { confirm: 'Are you sure you want to delete?'}%>
        <% end %>
        ]
      </td>
      <% end %>
	</tr>
  <% end %>

</table>

  <hr>
  	<p style="text-align:center" ><% if logged_in? %><%= link_to "Create New Musing", new_musing_path %><% end %><h3><%= link_to "Home", root_path %><h3></p>



<h3>All Musings</h3>
<ol class="microposts">
   <% @musings.each do |musing| %>
  <li id="micropost-<%= musing.id %>">
  <span class="title"><%= musing.title %></span>
  <span class="content"><%= musing.content %>
    <% if logged_in? %><%= link_to " Rate ", new_rating_path(musing)%> <% end %>
  </span>
  
</li>
 <% end %>
</ol>
