<% provide(:title, 'Musings-Popular Musings') %>

 <%= render :partial => "muse_of_day" %>
      <div class="row">
        <div class = "jumbotron">        
        <ol class="microposts">
        <h1>HIVE MIND </h1>
         <% @musings.each do |musing| %>          
          <li id="micropost-<%= musing.id %>">
          <span class="title"><%= musing.title %></span>
          <span class="content">"<%= musing.content %>"</br>
          Average Rating: <b><%= (average_ratings(musing) == 0) ? 0: "*"*average_ratings(musing) %></b>
             <% if logged_in? %>
              <td><%= link_to " Rate ", new_rating_path(musing), :class=> "btn btn-default"%>
              <% if current_muser?(musing.muser) %>
                <%= link_to " Edit ", edit_musing_path(musing), :class=> "btn btn-default" %><%= link_to " Delete ", musing, method: :delete, data: { confirm: 'Are you sure you want to delete?'} , :class=> "btn btn-default" %>
              <% end %>
            <% end %>
          </span> 
          </li>
        <% end %>
      </ol>
      </div>
      </div>
    </div>
  <%= render :partial => "sidebar" %>

