<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Musings – A Place for Journal-Sharing", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
              <li><%= link_to current_muser.name + " (you)", current_muser %></li>
              <% if current_muser.isModerator? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Manage <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Categories", categories_path %></li>
                    <li><%= link_to "Competitions", competition_path %></li>
                    <li><%= link_to "Musings", flagged_musings_path %></li>
                  </ul>
                </li>
              <% end %>
              	<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="notification-menu">
                    Notifications (<font id="notification-count"><%= notifications.count %></font>)<b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                  	<div id="notification-list">
                  		<% puts "notification map:"%>
                  		<% puts @notifications %>
                  		<% @map = notifications_map(@notifications) %>
                  		<% puts @map %>
                  		<% @num = 0 %>
                  		<% @map.each do |key, value| %>
							<% puts "#{key}-----" %>
							<% puts value %>
							<% @message_sender = Muser.find(key) %>
							<li id="<%= @message_sender.name %>"><%= link_to "New message from " + @message_sender.name, messages_path(:receiver_id => @message_sender.id) %> (<%= value %>)</li>
							<% @num = @num + 1 %>
						<% end %>
                    </div>
                  </ul>
                </li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
	    	<script>
				channel = dispatcher.subscribe('notification_<%= current_muser.name %>');
				var count = <%= notifications.count %>;
				console.log("count: " + count);
				$('#notification-menu').click(function() { 
					//console.log("clicked"); 
					dispatcher.trigger('async.clearNotifications');
					return true; 
				});
				channel.bind('new', function(message) {
					console.log("count: " + count);
					if (message.linktype == 'message'){
						console.log("count inside match:" + count);
						console.log(message);
						count++;
						console.log("count after inc: " + count);
						$('#notification-count').html(count);
						console.log($('#notification-list').html());
					  
			    		var el = $( '<div></div>' );
						el.html($('#notification-list').html());
						//console.log($('li',el));
						var dict = {};
						$('li', el).each(function(){
							//Find linkid
							var start = this.innerHTML.indexOf("_id=")+4;
							var end = this.innerHTML.indexOf("\">N");
							var linkid = this.innerHTML.substring(start,end);
							//Find message sender name
							start = this.innerHTML.indexOf("from ")+5;
							end = this.innerHTML.indexOf("</a>");
							var name = this.innerHTML.substring(start,end);
							//Find number of messages from sender
							start = this.innerHTML.indexOf("(")+1;
							end = this.innerHTML.indexOf(")");
							var messageCount = this.innerHTML.substring(start,end);
							//console.log(this.innerHTML);
							//store everything in a dictionary
							dict[linkid] = [messageCount,name];
						})
						//rewrite the link to increment the number of notifications from that user
						if (message.linkid in dict){
							var numNotifications = dict[message.linkid][0];
							numNotifications++;
							var senderName = dict[message.linkid][1];
							//console.log("array:" + $('li',el));
							$('li', el).each(function(){
							//Find linkid
							var start = this.innerHTML.indexOf("_id=")+4;
							var end = this.innerHTML.indexOf("\">N");
							var linkid = this.innerHTML.substring(start,end);
							//Find li id so we can update it below
							start = this.outerHTML.indexOf("id=\"")+4;
							end = this.outerHTML.indexOf("\">");
							var id = this.outerHTML.substring(start,end);
							if(linkid == message.linkid){
								//Find number of messages from sender
								start = this.innerHTML.indexOf("(")+1;
								end = this.innerHTML.indexOf(")");
								var senderCount = this.innerHTML.substring(start,end);
								var updatedCount = this.innerHTML.replace("(" + senderCount + ")", "(" + (++senderCount) + ")");
								id = "#" + id;
								$(id).html(updatedCount);
								console.log($(id).html());
							}
						})
						//if no notifications from the user yet we need to add that to the list
						}else{
							var link = '<li id="' + message.name + '"><a href="/messages?receiver_id=' + message.linkid + '">New message from ' + message.name + '</a> (1)</li>';
							$('#notification-list').append(link);
						}
				 }
				});
			</script>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign Up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
